.weather-time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--primary-color);
    grid-row: 1/3;
}

.time {
    border-left: var(--gray-line);
}

.weather,
.time {
    border-bottom: var(--gray-line);
    padding: var(--space-lg) 0;
}

.time h1 {
    color: #276ef7;
}

.weather h1 {
    color: #9da0af;
}

.weather-time p {
    color: gray;
    font-size: 0.45rem;
}

.weather-time p span {
    text-align: center;
    padding: 0 var(--spacing-unit);
}

.time p :first-child,
.weather p :last-child {
    border-right: var(--gray-line);
}

.weather-time select {
    border-radius: var(--radius-sm);
    font-family: vazirmatn;
    font-size: 0.5rem;
}

.weather img {
    width: 2rem;
    margin-right: var(--space-sm);
}